{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock %}

{% block pullright %}
    {% if perms.devicegroups.change_devicegroup %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-share"></i> {% trans "Merge" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a class="dropdown-item" href="{% url 'devicegroup-merge' object.pk merge.pk %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% editbutton "devicegroup-edit" object.id %}
    {% endif %}
    {% if perms.devicegroups.delete_devicegroup %}
        {% deletebutton "devicegroup-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if perms.devices.view_device %}
        <h4>{% trans "Devices" %}</h4>
        <table id="devicetable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Inventory Number" %}</th>
                <th>{% trans "Device Type" %}</th>
                <th>{% trans "Room" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for device in device_list %}
                <tr>
                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                    <td>{{ device.inventorynumber }}</td>
                    <td>{{ device.devicetype }}</td>
                    <td>{{ device.room }} ({{ device.room.building }})</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
