{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Device Groups" %}{% endblock %}

{% block header %}
    {% trans "Device Groups" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicegroups.add_devicegroup %}
        <a href="{% url 'devicegroup-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Device Group" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.department %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        {% for devicegroup in devicegroup_list %}
            <tr>
                <td>
                    <a href="{% url 'devicegroup-detail' devicegroup.id %}">{{ devicegroup.name|default:_("(None)") }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
