{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Departments" %}{% endblock %}

{% block header %}
    {% trans "Departments" %}
{% endblock %}

{% block pullright %}
    {% if perms.users.add_department %}
        <a href="{% url 'department-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Department" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for department in department_list %}
                <tr>
                    <td><a href="{% url 'department-detail' department.id %}">{{ department.name|default:_("(None)") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "snippets/pagination.html" %}
{% endblock %}
