{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load usertags %}

{% block title %}{{ department.name }}{% endblock %}

{% block pullright %}
    {% has_perm 'users.add_department_user' user department as can_add_department_user %}
    {% if can_add_department_user %}
        <a href="{% url "department-add-user" department.id %}" id="adduserbutton" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add User" %}
        </a>
    {% endif %}
    {% if perms.users.change_department %}
        {% editbutton "department-edit" object.id %}
    {% endif %}
    {% if can_delete %}
        {% deletebutton "department-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="col-1"><b>Storage Room:</b></td>
                <td class="col-1">{{ object.storage_room }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-1">{%  trans "User" %}</th>
                <th class="col-1">{% trans "Role" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in department_users %}
                <tr>
                    <td><a href="{% url 'userprofile' member.user.id %}">{{member.user}}</a></td>
                    <td>{{ member.get_role_display }}
                        {% if user != member.user %}
                            {% has_perm 'users.add_department_user' user department as can_add_department_user %}
                            {% if can_add_department_user %}
                                <a href="{% url "department-remove-user" member.id %}" class="btn-close">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Remove from Department</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
