{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block header %}
    {% trans "Settings" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>{% trans "Language" %}</h3>

            <form action="{% url 'usersettings' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <select name="language" class="form-control">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == user.language %}
                                    selected="selected"{% endif %}>{{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-secondary">{% trans "Set Language" %}</button>
                </div>
            </form>
            <div class="clearfix"></div>
            <hr>

            <h3>{% trans "Avatar" %}</h3>
            <form enctype="multipart/form-data" action="{% url 'usersettings' %}" method="post">
                {% csrf_token %}
                {% if user.avatar %}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 pull-right">
                            <a data-bs-toggle="modal" data-bs-target="#avatarModal" class="thumbnail">
                                <img src="{{ user.avatar.url }}" alt="Avatar" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="text-end">
                        <input id="id_avatar_clear" name="avatar_clear" type="checkbox"/>
                        <label for="avatar-clear_id">{% trans "Remove" %}</label>
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
                <div class="mb-3 row {{ avatarform.avatar.css_classes }}">
                    <div class="col-lg-8 col-lg-offset-4">
                        {{ avatarform.avatar|add_class:'form-control' }}
                        {% if avatarform.avatar.errors %}
                            <p class="text-danger">
                                {% for error in avatarform.avatar.errors %}{{ error }}, {% endfor %}
                            </p>
                        {% endif %}
                        {% if avatarform.avatar.help_text %}
                            <p class="text-muted">
                                {{ avatarform.avatar.help_text }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-secondary">{% trans "Upload" %}</button>
                </div>
            </form>
        </div>
    </div>

    {% if user.avatar %}
        {% include "snippets/modals/avatarView.html" with modalname="avatarModal" avatarpath=user.avatar.url %}
    {% endif %}
{% endblock %}
