{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Transfer ownerships from {{ old_user.name }} to {{ new_user.name }}{% endblocktrans %}
{% endblock %}


{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert-info alert">
                {% get_verbose_name old_user as verbose_name %}
                {% blocktrans %}Do you really want to transfer the {{ verbose_name }} ownerships from {{ old_user }} to {{ new_user }}?{% endblocktrans %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <a href="{{ old_user.get_absolute_url }}" class="btn btn-secondary">{% trans "No" %}</a>
                <input type="submit" value="Yes" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}