{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block header %}
    {% trans "Users" %}
{% endblock %}

{% block pullright %}
    {% include "snippets/widgets/filter_dropdown.html" with field=filterform.department %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Staff" %}</th>
                <th>{% trans "Admin" %}</th>
                <th>{% trans "Last Login" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                <tr>
                    <td><a href="{% url 'userprofile' user.id %}">{{ user }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.is_staff %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_superuser %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle text-danger"></i>
                        {% endif %}
                    </td>
                    <td>{{ user.last_login }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
