{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}
{% load static %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block header %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well well-lg">
            <form action="" method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == "creator" %}
                        {{ field }}
                    {% elif field|is_checkbox %}
                        <div class="mb-3 row" id="div_{{ field.html_name }}">
                            <div class="col-lg-offset-3 col-lg-9">
                                <div class="checkbox">
                                    <label>{{ field }} {{ field.label }}</label>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3 row {{ field.css_classes }}" id="div_{{ field.html_name }}">
                            <label for="{{ field.id_for_label }}" class="col-lg-3 control-label">
                                {{ field.label }}{% if field.field.required %}*{% endif %}
                            </label>

                            <div class="col-lg-{% if field|is_select %}8{% else %}9{% endif %}">
                                {% if field|is_select or field|is_selectmultiple %}
                                    {{ field }}
                                {% elif field|is_checkbox %}
                                    {{ field|add_class:'form-check-input' }}
                                {% else %}
                                    {{ field|add_class:'form-control' }}
                                {% endif %}
                                <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                            </div>
                            {% if field|is_select %}
                                <div class="col-lg-1 text-end">
                                    <a class="modalbutton btn btn-secondary btn-xs{% if not user.is_staff %} disabled{% endif %}" data-classname="{{ field.html_name }}" data-name="{{ field.label }}">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if field.html_name == "comment" %}
                        <h3>{% trans "Extra Attributes" %}</h3>
                        <div id="extra_attributes">
                    {% endif %}

                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="text-end">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    {% include "snippets/modals/addmodal.html" with modalname="addModal" %}
{% endblock %}

{% block htmlend %}
    <script src="{% static "js/device_form.js" %} "></script>
{% endblock %}
