@media (min-width:1600px){
    .container{
        max-width:1440px
    }
}

:root {
    font-size: 0.9em;
}

.w-close, .w-minimize {
    color: rgba(255,255,255,0.75);
}

.w-close:hover, .w-minimize:hover  {
    color: #fff;
    text-decoration: none;
}

.diff {
    color:#c60f13;
    font-weight:bold;
}

.diff.add {
    color:#5da423;
}

#modal_errors{
    color:#c60f13;
}

#addWidgetButton {
    position:fixed;
    top: 80px;
    right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:0px;
    padding:6px 6px;
    transition:padding 100ms;
    -webkit-transition:padding 100ms
}

#addWidgetButton:hover {
    padding:6px 12px;
}

#addWidgetButton:hover {
    text-decoration: none;
}

.select2-container {
    width: 100% !important;
}

.navbar-avatar {
    max-height:26px;
    margin-right:5px;
    width:auto;
    vertical-align:middle;
}

#alternativebox {
    margin-top:10px;
}

#listwrapper {
    margin-top:15px;
}

.table-wrapped td {
    width: 50%;
    word-break:break-all;
}

.devicedetails_type {
    width: 15% !important;
}

.devicedetails_name {
    width: 25% !important;
}

.devicedetails_value {
    width: 60% !important;
}

.hal-eye {
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 6em;
    text-align: center;
    vertical-align: middle;
}

.hal-eye::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: #fae966;
    box-shadow:
        0 0 0.7em 0.1em #fae966,
        0 0 0 1em #e74c3c,
        0 0 0.7em 0.9em #b94a48,
        0 0 0 2.1em #212529,
        0 0 0 2.6em #95a5a6;
}

.login {
    background-color: var(--bs-tertiary-bg, #eee);
}
.login main {
    max-width: 330px;
    margin: 40px auto;
}

meter::-webkit-meter-optimum-value {
    background: var(--bs-primary);
}
meter::-moz-meter-bar {
    background: var(--bs-primary);
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
}

.hidden {
    display: none
}
