{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Something went wrong" %}{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-danger"><i class="fa fa-frown-o"></i></h1>
        <h3>{% trans "Error 500" %}</h3>
        <h4>{% trans "I regret to inform you that our team of highly trained monkeys made a mistake when processing your request. Our trainers have already been informed of this incident and will try resolve the issue as soon as possible." %}</h4>
    </div>
{% endblock content %}