{% load i18n static usertags %}<!DOCTYPE html>
<html lang="{{ user.language|default:"en" }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="{% block CSP %}default-src 'self'; img-src 'self' data:; frame-src 'self' blob:{% endblock %}">
    <title>{% block title %}{% endblock %} &middot; {{ SITE_NAME }}</title>
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui-dist/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "css/clippy.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
</head>
<body class="{% block body_class%}{% endblock %}">
{% if not nochrome %}
<header class="navbar navbar-expand-lg navbar-dark bg-black border-bottom sticky-top px-3 mb-3">
    <a class="navbar-brand" href="/"><i class="fa fa-archive"></i> {{ SITE_NAME }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
        <i class="navbar-toggler-icon"></i>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <nav class="me-auto">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="{% url 'device-list' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        {% trans "Devices" %}
                    </a>
                    <div class="dropdown-menu">
                        {% if perms.devices.view_device %}
                            <a href="{% url 'device-list' %}" class="dropdown-item">{% trans "Devices" %}</a>
                        {% endif %}
                        {% if perms.devicetypes.view_type %}
                            <a href="{% url 'type-list' %}" class="dropdown-item">{% trans "Device Types" %}</a>
                        {% endif %}
                        {% if perms.devices.view_manufacturer %}
                            <a href="{% url 'manufacturer-list' %}" class="dropdown-item">{% trans "Manufacturers" %}</a>
                        {% endif %}
                        {% if perms.devicegroups.view_devicegroup %}
                            <a href="{% url 'devicegroup-list' %}" class="dropdown-item">{% trans "Device Groups" %}</a>
                        {% endif %}
                        <a href="{% url 'public-device-list' %}" class="dropdown-item">{% trans "Public Devices" %}</a>
                    </div>
                </li>
                {% if perms.devices.view_room or perms.devices.view_building or perms.locations.view_section %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{% trans "Locations" %}</a>

                        <div class="dropdown-menu">
                            {% if perms.devices.view_room %}
                                <a href="{% url 'room-list' %}" class="dropdown-item">{% trans "Rooms" %}</a>
                            {% endif %}
                            {% if perms.devices.view_building %}
                                <a href="{% url 'building-list' %}" class="dropdown-item">{% trans "Buildings" %}</a>
                            {% endif %}
                            {% if perms.locations.view_section %}
                                <a href="{% url 'section-list' %}" class="dropdown-item">{% trans "Sections" %}</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if perms.users.view_lageruser or perms.users.view_department or perms.devicetags.view_devicetags %}
                    <li class="nav-item dropdown">
                        <a href="{% url 'device-list' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            {% trans "Manage" %}
                        </a>
                        <div class="dropdown-menu">
                            {% if perms.users.view_lageruser %}
                                <a href="{% url 'user-list' %}" class="dropdown-item">{% trans "Users" %}</a>
                            {% endif %}
                            {% if perms.users.view_department %}
                                <a href="{% url 'department-list' %}" class="dropdown-item">{% trans "Departments" %}</a>
                            {% endif %}
                            {% if perms.devicetags.view_devicetag %}
                                <a href="{% url 'devicetag-list' %}" class="dropdown-item">{% trans "Device Tags" %}</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% if perms.devices.view_device %}
            <form method="post" action="{% url 'device-list' %}" class="form-inline my-2 my-lg-0 mx-lg-1">
                {% csrf_token %}
                <input id="id_namemodifier" name="namemodifier" type="hidden" value="icontains">
                <div class="input-group">
                    <input id="id_deviceid" name="deviceid" placeholder="{% trans 'Jump to ID' %}" type="text" class="form-control">
                    <button type="submit" class="input-group-append btn btn-secondary">
                        <i class="fa fa-rocket"></i>
                    </button>
                </div>
            </form>
            <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0 mx-lg-1">
                <div class="input-group">
                    <input id="id_searchname" name="searchstring" placeholder="{% trans 'Search for Device' %}" type="text" class="form-control">
                    <button type="submit" class="input-group-append btn btn-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        {% endif %}

        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">
                        {% if user.avatar %}
                            <img class="navbar-avatar rounded" src="{{ user.avatar.url }}">
                        {% endif %}
                        {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="{% url 'userprofile' %}" class="dropdown-item"><i class="fa fa-user"></i> {% trans "Profile" %}</a>
                        <a href="{% url 'usersettings' %}" class="dropdown-item"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="dropdown-item"><i class="fa fa-lock"></i> {% trans "Admin" %}</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a>
                    </div>
                </li>
            {% else %}
                <li id="loginbutton">
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> {% trans "Login" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
{% endif %}

<div class="container">
    <main>
        {% for message in messages %}
            <p role="alert" class="{{ message|bootstrap_message_classes }}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Close' %}"></button>
            </p>
        {% endfor %}
        {% if breadcrumbs %}
            <header class="bg-body-tertiary d-flex justify-content-between align-items-center p-3 mb-3 flex-md-row flex-column">
                <h1 class="h3 m-0 flex-shrink-0">
                    <ol class="breadcrumb p-0 m-0 bg-transparent">
                        {% for crumb in breadcrumbs %}
                            {% if forloop.last or crumb.0 is None %}
                                <li class="breadcrumb-item active">{{ crumb.1 }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ crumb.0 }}">{{ crumb.1 }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </h1>
                {% if not nochrome %}
                    <div>{% block pullright %}{% endblock %}</div>
                {% endif %}
            </header>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="py-3 mt-5 mb-3 border-top text-end">
        {% trans "powered by" %} <a href="https://git.mpib-berlin.mpg.de/castellum/lagerregal/">Lagerregal</a>
    </footer>
</div>

<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "@popperjs/core/dist/umd/popper-lite.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "select2/dist/js/select2.min.js" %}"></script>
<script src="{% static "jquery-ui-dist/jquery-ui.min.js" %}"></script>

<script src="{% static "datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>

<script src="{% static "timeago/jquery.timeago.js" %}"></script>
{% if user.language != "en" %}
    <script src="{% static "timeago/locales/jquery.timeago.de.js" %}"></script>
{% endif %}

<script src="{% static "js/clippy.min.js" %} "></script>

{% block htmlend %}{% endblock %}

<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static "js/lagerregal.js" %} "></script>
<script src="{% static "js/widgets.js" %}"></script>

</body>

</html>
