{% extends "base.html" %}
{% load i18n %}
{% load devicetags %}
{% load static %}

{% block title %}{% trans "Main" %}{% endblock %}

{% block header %}
    {% trans "Home" %}
{% endblock %}

{% block pullright %}
    {% if user.is_staff and perms.devices.lend_device %}
        <a href="#" data-bs-target="#returnModal" data-bs-toggle="modal" class="btn btn-primary">
            <i class="fa fa-reply"></i> {% trans "Return Device" %}
        </a>
        <a href="#" data-bs-target="#lendModal" data-bs-toggle="modal" class="btn btn-primary">
            <i class="fa fa-share"></i> {% trans "Lend Device" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if user.is_staff %}
            <div class="col-md-5 dashboard dashboard-left">
                {% for widget in widgets_left %}
                    {% with "snippets/widgets/"|add:widget.widgetname|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="col-md-7 dashboard dashboard-right">
                {% for widget in widgets_right %}
                    {% with "snippets/widgets/"|add:widget.widgetname|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block htmlend %}
    {% if user.is_staff %}
        <script src="{% static "js/homeWidgets.js" %}"></script>

        <a data-bs-toggle="modal" data-bs-target="#addWidgetModal" id="addWidgetButton" href="#" class="btn btn-primary">
            <i class="fa fa-plus"></i>
        </a>

        {% include "snippets/modals/addwidget.html" with modalname="addWidgetModal" %}
        {% if perms.devices.lend_device %}
            {% include "snippets/modals/lendingHome.html" with modalname="lendModal" %}
            {% include "snippets/modals/lendingReturnHome.html" with modalname="returnModal" %}
        {% endif %}
    {% endif %}
{% endblock %}
