{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-{% if formhelp %}1{% else %}3{% endif %} well well-lg">
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form action="" method="post" enctype="{{ enctype|default:"application/x-www-form-urlencoded" }}">{% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="mb-3 row {{ field.css_classes }}">
                        <label for="{{ field.id_for_label }}" class="col-lg-3 control-label">
                            {{ field.label }}{% if field.field.required %}*{% endif %}
                        </label>

                        <div class="col-lg-9">
                            {% if field|is_select or field|is_selectmultiple %}
                                {{ field }}
                            {% elif field|is_checkbox %}
                                {{ field|add_class:'form-check-input' }}
                            {% else %}
                                {{ field|add_class:'form-control' }}
                            {% endif %}
                            <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                        </div>
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                     <div>{{ field }}</div>
                {% endfor %}
                <div class="text-end">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        {% if formhelp %}
            <div class="col-md-4 col-md-offset-1 well">
                <h3>{% trans "Help" %}</h3>
                {% include formhelp %}
            </div>
        {% endif %}
    </div>
{% endblock %}
