{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{% trans "Trash" %} {{ object.name }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 large-6 large-centered columns">
            <div class="alert alert-danger">
                {% if object.trashed %}
                    {% blocktrans %}Do you really want to untrash the device: {{ object }}?{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Do you really want to trash the device: {{ object }}?{% endblocktrans %}
                {% endif %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <a href="{{ object.get_absolute_url }}" class="btn btn-danger">{% trans "No" %}</a>
                <input type="submit" value="{% trans "Yes" %}" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}
