{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{% trans "Move to storage" %} {{ object }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 large-6 large-centered columns">
            <div class="alert alert-danger">
                {% blocktrans %}Do you really want to move the device to storage: {{ object }}?{% endblocktrans %}
            </div>

            <form action="" method="post">{% csrf_token %}
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        {{ form.send_mail|add_class:"form-control" }}
                    </div>
                </div>
                <a href="{{ object.get_absolute_url }}" class="btn btn-danger">{% trans "Cancel" %}</a>
                <input type="submit" value="{% trans "Confirm" %}" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}