{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Lending history for" %} {{ device.name }}{% endblock %}

{% block header %}
    {% trans "Lending history for" %} <a href="{% url 'device-detail' device.pk %}">{{ device.name }}</a>
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Since" %}</th>
                <th>{% trans "Due date" %}</th>
                <th>{% trans "Returned" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for lending in lending_list %}
                <tr>
                    <td><a href="{% url 'userprofile' lending.owner.pk %}">{{ lending.owner }}</a></td>
                    <td>{{ lending.lenddate }}</td>
                    <td>{{ lending.duedate|default_if_none:_("never") }}</td>
                    <td>{{ lending.returndate|default_if_none:_("not returned") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
