{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Devices" %}{% endblock %}

{% block header %}
    {% trans "Devices" %}
{% endblock %}

{% block pullright %}
    {% if perms.devices.add_device %}
        <div class="btn-group">
            <a href="{% url 'device-add' %}" class="btn btn-primary">
                <i class="fa fa-plus"></i> {% trans "Add Device" %}
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" role="menu">
                <li class="dropdown-header">{% trans "From Template" %}</li>
                <li><a class="dropdown-item" href="{% url 'template-list' %}" class="right">{% trans "Edit Templates" %}</a></li>
                {% if template_list %}
                    <li class="dropdown-divider"></li>
                    {% for template in template_list %}
                        <li><a class="dropdown-item" href="{% url 'device-add' template.pk %}">{{ template.templatename }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="dropdown-divider"></li>
                {% if perms.devices.create_template %}
                    <li><a class="dropdown-item" href="{% url 'template-add' %}">{% trans "New Template" %}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.department %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.category %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <form method="POST" action="{%  url "export-csv" %}" id="exportform" class="text-end">{% csrf_token %}
        {{ viewform.department.as_hidden }}
        {{ viewform.category.as_hidden }}
        {{ viewform.sorting.as_hidden }}
        <button class="btn btn-secondary mb-1" id="exportbutton"><i class="fa fa-download"></i> {% trans "Export as CSV" %}</button>
    </form>
    <table id="devicetable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Inventory Number" %}</th>
                <th>{% trans "Device Type" %}</th>
                <th>{% trans "Room" %}</th>
                <th>{% trans "Devicegroup" %}</th>
                {% if viewfilter == "lent" or viewfilter == "overdue" %}
                    <th>{% trans "Owner" %}</th>
                    <th>{% trans "Due date" %}</th>
                {% else %}
                    <th>{% trans "Available" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for device in device_list %}
                <tr {% if device.currentlending.duedate < today.date %}class="text-danger"{% endif %}>
                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name|default:_("(None)") }}</a></td>
                    <td>{{ device.inventorynumber }}</td>
                    <td>{{ device.devicetype.name }}</td>
                    <td>{{ device.room.name }} ({{ device.room.building.name }})</td>
                    <td>{{ device.group.name }}</td>
                    {% if viewfilter == "lent" or viewfilter == "overdue" %}
                        <td>
                            <a href="{% url "userprofile" device.currentlending.owner.id %}#devices">{{ device.currentlending.owner.username }}</a>
                        </td>
                        <td>{{ device.currentlending.duedate }}</td>
                    {% else %}
                        <td>
                            {% if device.currentlending.owner.username == None %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-exclamation-circle text-danger"></i>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
