{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Manufacturers" %}{% endblock %}

{% block header %}
    {% trans "Manufacturers" %}
{% endblock %}

{% block pullright %}
    {% if perms.devices.add_manufacturer %}
        <a href="{% url 'manufacturer-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Manufacturer" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for manufacturer in manufacturer_list %}
                <tr>
                    <td>
                        <a href="{% url 'manufacturer-detail' manufacturer.id %}">{{ manufacturer.name|default:_("(None)") }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
