{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Devices" %}{% endblock %}

{% block header %}
    {% trans "Devices" %}
{% endblock %}

{% block pullright %}
    {% include "snippets/widgets/filter_dropdown.html" with field=groupfilterform.group %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table id="devicetable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Inventory Number" %}</th>
                <th>{% trans "Device Type" %}</th>
                <th>{% trans "Room" %}</th>
                <th>{% trans "Devicegroup" %}</th>
                {% if viewfilter == "lent" or viewfilter == "overdue" %}
                    <th>{% trans "Owner" %}</th>
                    <th>{% trans "Due date" %}</th>
                {% else %}
                    <th>{% trans "Available" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for device in device_list %}
                <tr {% if device.currentlending__duedate < today.date %}class="text-danger"{% endif %}>
                    <td><a href="{% url 'public-device-detail' device.id %}?nochrome={{ nochrome }}">{{ device.name|default:_("(None)") }}</a></td>
                    <td>{{ device.inventorynumber}}</td>
                    <td>{{ device.devicetype__name|default:"--" }}</td>
                    <td>{{ device.room__name|default:"--" }} {% if device.room__buiding__name %}({{ device.room__building__name }}){% endif %}</td>
                    <td>{{ device.group__name|default:"--" }}</td>
                    <td>
                        {% if device.currentlending__owner %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
