{% extends "base.html" %}
{% load i18n static devicetags %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block header %}
    {% trans "Search" %}
{% endblock %}

{% block content %}
    <form class="row">
        <div class="mb-3 col-md-10">
            <input type="text" name="searchstring" class="form-control" autofocus value="{{ searchstring }}" placeholder="lenovo type:tablet trashed:true">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary d-block w-100">{% trans "Search" %}</button>
        </div>
    </form>
    <p>{% trans "Available keys" %}: {{ keys|join:", " }}</p>

    {% if searchstring %}
        <table class="table table-bordered table-striped" data-table data-b-filter="false">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Inventory Number" %}</th>
                    <th>{% trans "Serial Number" %}</th>
                    <th>{% trans "Device Type" %}</th>
                    <th>{% trans "Room" %}</th>
                    <th>{% trans "User" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for device in object_list %}
                    <tr>
                        <td><a href="{{ device.get_absolute_url }}">{{ device.name }}</a></td>
                        <td>{{ device.inventorynumber }}</td>
                        <td>{{ device.serialnumber }}</td>
                        <td>{{ device.devicetype }}</td>
                        <td>{{ device.room }}</td>
                        <td>{{ device.currentlending.owner }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}