{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Device Types" %}{% endblock %}

{% block header %}
    {% trans "Templates" %}
{% endblock %}

{% block pullright %}
    {% if perms.devices.add_template %}
        <a href="{% url 'template-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Template" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <ul>
        {% for template in template_list %}
            <li>
                <a href="{% url 'template-edit' template.id %}">{{ template.name }}</a>
                {% if perms.devices.delete_template %}
                    <a href="{% url 'template-delete' template.pk %}">X</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% include "snippets/pagination.html" %}
{% endblock %}
