{% load i18n %}

<form action="{{ url }}" method="post" data-confirm="{% trans "Are you sure?" %}" class="d-inline-block">
    {% csrf_token %}
    {% if simple %}
        <button class="btn btn-danger"><i class="fa fa-trash-o" title="{% trans "Delete" %}"></i></button>
    {% else %}
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans "Delete" %}</button>
    {% endif %}
</form>
