{% load i18n %}

<a href="{{ url }}" class="btn btn-secondary">
    {% csrf_token %}
    {% if simple %}
        <i class="fa fa-pencil" title="{% trans "Edit" %}"></i>
    {% else %}
        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Edit" %}
    {% endif %}
</a>
