{% load i18n devicetags %}

<form class="form-inline d-inline-block" method="{{ request.get_full_path }}">
    {% for name, value in request.GET.items %}
        {% if name != 'page' and name != filterform.filter.name %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endif %}
    {% endfor %}
    <div class="input-group">
        {{ filterform.filter }}
        <button title="{% translate "Search" %}" class="input-group-append btn btn-secondary">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</form>
