{% load devicetags %}

{% for field in form %}
    {% if field.html_name == "classname" %}
        {{ field }}
    {% else %}
        <div class="mb-3 {% if horizontal %}row{% endif %} {{ field.css_classes }}">
            <label for="{{ field.id_for_label }}" class="{% if horizontal %}col-lg-4{% endif %}">
                {{ field.label }}{% if field.field.required %}*{% endif %}
            </label>

            <div class="{% if horizontal %}col-lg-8{% endif %}">
                {{ field|add_class:'form-control' }}
                {% if field.errors or field.help_text != "" %}
                    <small class="form-text">
                        {% if field.errors %}
                            <span class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</span>
                        {% else %}
                            <span class="text-muted">{{ field.help_text }}</span>
                        {% endif %}
                    </small>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
