{% extends "snippets/modals/base.html" %}
{% load i18n %}
{% load devicetags %}

{% block modalHeader %}
    <h4 class="modal-title">{% trans "Create new"%} <span id='addmodal_header'></span></h4>
{% endblock %}

{% block modalBody %}
    <form method="post" id="addform">{% csrf_token %}
        <div id="modal-form"></div>
        <input type="hidden" name="classname" id="addmodal_classname">
    </form>
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
    <button class="btn btn-primary" form="addform">{% trans "Create" %}</button>
{% endblock %}
