{% load i18n %}
{% load devicetags %}

<div class="modal fade" id="{{ modalname }}" role="dialog" aria-labelledby="{{ modalname }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% block modalHeader %}{% endblock %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
            </div>
            <div class="modal-body">
                {% block modalBody %}{% endblock %}
            </div>
        </div>
    </div>
</div>
