{% extends "snippets/modals/base.html" %}
{% load i18n %}{% load devicetags %}{% load static %}

{% block modalHeader %}
    {% trans "Print Dymo Label" %}
    <script src="{% static "js/dymo.connect.framework.js" %}"></script>
    <script src="{% static "js/print_dymo_modal.js" %}"></script>
{% endblock %}

{% block modalBody %}
    <div id="printersDiv">
        <label for="printersSelect">{% trans "Printers" %}</label>
        <select id="printersSelect"></select>
    </div>

    <div id="labelImageDiv">
        <img id="labelImage" src=""/>
    </div>
{% endblock %}


{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
    <button id="printButton" type="button" class="btn btn-secondary">{% trans "Print" %}</button>
{% endblock %}
