{% extends "snippets/modals/baseForm.html" %}
{% load i18n %}
{% load devicetags %}

{% block modalHeader %}
    {% trans "Send email to user" %}
{% endblock %}

{% block modalUrl %}{% url "device-mail"  device.id %}{% endblock %}

{% block modalBody %}
    {% for field in mailform %}
        <div class="mb-3 row {{ field.css_classes }}">
            <label for="{{ field.id_for_label }}" class="col-lg-4 control-label">
                {{ field.label }}{% if field.field.required %}*{% endif %}
            </label>

            <div class="col-lg-8">
                {% if field|is_select or field|is_selectmultiple %}
                    {{ field }}
                {% elif field|is_checkbox %}
                    {{ field|add_class:'form-check-input' }}
                {% else %}
                    {{ field|add_class:'form-control' }}
                {% endif %}
                <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
    <input type="submit" value="{% trans "Send" %}" class="btn btn-primary"/>
{% endblock %}
