{% extends "snippets/modals/baseForm.html" %}
{% load i18n %}
{% load devicetags %}

{% block modalHeader %}
    <h4 class="modal-title">{% trans "Lend Device" %}</h4>
{% endblock %}

{% block cssClasses %}modal-lg{% endblock %}

{% block modalUrl %}{% url "device-lend" %}{% endblock %}

{% block modalBody %}
    <div class="mb-3 row {{ form.owner.css_classes }}">
        <label for="{{ lendform.owner.id_for_label }}" class="col-lg-4 control-label">{% trans "Lend to" %}*</label>

        <div class="col-lg-8">
            {{ lendform.owner }}
            <p class="text-danger">
                {% for error in form.owner.errors %}{{ error }}, {% endfor %}
            </p>
        </div>
    </div>
    <div class="row mb-3 {{ field.css_classes }}">
        <div class="col-lg-5">
            <label for="{{ lendform.device.id_for_label }}">{% trans "Select Device" %}</label>
            {{ lendform.device }}
            <p class="text-danger"></p>
        </div>
        <div class="col-lg-2 text-center">
            <strong>{% trans "or" %}</strong>
        </div>
        <div class="col-lg-5">
            <label for="{{ lendform.smalldevice.id_for_label }}">{% trans "Enter name for small device" %}</label>
            {{ lendform.smalldevice }}
            <p class="text-danger"></p>
        </div>
    </div>
    <div class="mb-3 row {{ form.duedate.css_classes }}">
        <label for="{{ lendform.duedate.id_for_label }}" class="col-lg-4 control-label">{% trans "Due date" %}</label>

        <div class="col-lg-8">
            {{ lendform.duedate }}
            <p class="text-danger">
                {% for error in form.duedate.errors %}{{ error }}, {% endfor %}
            </p>
        </div>
    </div>
    <div class="mb-3 row {{ form.room.css_classes }}">
        <label for="{{ lendform.room.id_for_label }}" class="col-lg-4 control-label">{% trans "Room" %}</label>

        <div class="col-lg-8">
            {{ lendform.room }}
            <p class="text-danger">
                {% for error in form.room.errors %}{{ error }}, {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}

{% block modalFooter %}
    {% if device.templending %}
        <span class="text-danger pull-left">
            {% trans "Note: This device is intended for short-term lending" %}
        </span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary"/>
{% endblock %}
