{% extends "snippets/modals/baseForm.html" %}
{% load i18n %}
{% load devicetags %}

{% block modalHeader %}
    <h4 class="modal-title">{% trans "Mark Device as returned" %}</h4>
{% endblock %}

{% block modalUrl %}{% url "device-return" device.currentlending.id %}{% endblock %}

{% block modalBody %}
    <div class="mb-3 row {{ form.room.css_classes }}">
        <label for="room" class="col-lg-4 control-label">{% trans "Room" %}</label>

        <div class="col-lg-8">
            {{ lendform.room }}
            <p class="text-danger">
                {% for error in form.room.errors %}{{ error }}, {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary"/>
{% endblock %}