{% extends "snippets/modals/base.html" %}
{% load i18n %}
{% load devicetags %}
{% load static %}

{% block cssClasses %}modal-lg{% endblock %}

{% block modalHeader %}
    <h4 class="modal-title">{% trans "Mark Device as returned" %}</h4>
{% endblock %}

{% block modalBody %}
    <select class="select2Widget" name="users" id="return_userlist">
        {% for user in userlist %}
            {% if user.first_name == "" %}
                <option value="{{ user.pk }}">{{ user.username }}</option>
            {% else %}
                <option value="{{ user.pk }}">{{ user.first_name }} {{ user.last_name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <div id="listwrapper"></div>
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>

    <script src="{% static "js/lendingReturnHome.js" %}"></script>
{% endblock %}