{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Device Tags" %}{% endblock %}

{% block header %}
    {% trans "Device Tags" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicetags.add_devicetag %}
        <a href="{% url 'devicetag-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Device Tag" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        {% for devicetag in devicetag_list %}
            <tr>
                <td>
                    <a href="{% url 'devicetag-edit' devicetag.id %}">{{ devicetag.name|default:_("(None)") }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% include "snippets/pagination.html" %}
{% endblock %}
