{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{% trans "Remove Tag" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert-danger alert">
                {% blocktrans %}Do you really want to remove the Tag "{{ tag }}" from {{ device }}?{% endblocktrans %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="text-end">
                    <a href="{{ device.get_absolute_url }}" class="btn btn-secondary">{% trans "No" %}</a>
                    <input type="submit" value="{% trans "Yes" %}" class="btn btn-danger"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
