{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% load static %}
{% load usertags %}

{% block title %}{{ device.name }}{% endblock %}

{% block header %}
    {% trans "Device" %}: {{ device.name }}
{% endblock %}

{% block CSP %}{{ block.super }}; connect-src 'self' localhost:41951 127.0.0.1:41951{% endblock %}

{% block pullright %}
    {% has_perm 'devices.change_device' user device as can_change_device %}
    {% has_perm 'devices.add_device' user device as can_add_device %}
    {% has_perm 'devices.delete_device' user device as can_delete_device %}
    {% has_perm 'devices.lend_device' user device as can_lend_device %}

    {% if device.is_active %}
        {% if can_lend_device %}
            {% if device.currentlending != None %}
                <a href="{% url "device-lend" device.pk %}" class="btn btn-primary">
                    {% trans "Edit Lending information" %}
                </a>
                <a href="#" data-bs-target="#returnModal" data-bs-toggle="modal" class="btn btn-primary">
                    <i class="fa fa-check"></i> {% trans "returned" %}
                </a>
            {% else %}
                <a href="#" data-bs-target="#lendModal" data-bs-toggle="modal" class="btn btn-primary">
                    <i class="fa fa-check"></i> {% trans "Lend" %}
                </a>
            {% endif %}
        {% endif %}

        {% if can_lend_device %}
            <a href="#" class="btn btn-secondary" data-bs-target="#mailModal" data-bs-toggle="modal">
                <i class="fa fa-envelope"></i> {% trans "Send Mail" %}
            </a>
        {% endif %}

        {% if can_change_device %}
            {% editbutton "device-edit" object.id %}
            <form action="{% url "device-bookmark" object.id %}" method="post" class="d-inline-block">
                {% csrf_token %}
                {% with is_bookmarked=device|check_bookmark:user %}
                    {% if is_bookmarked %}
                        <button type='submit' class='btn btn-primary'>
                            <i class="fa fa-bookmark"></i> {% trans "Remove Bookmark" %}
                        </button>
                    {% else %}
                        <button type='submit' class='btn btn-primary'>
                            <i class="fa fa-bookmark-o"></i> {% trans "Bookmark" %}
                        </button>
                    {% endif %}
                {% endwith %}
            </form>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                {% trans "Manage" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <button class="dropdown-item" type="button" data-bs-target="#printDymoModal" data-bs-toggle="modal">
                        <i class="fa fa-print"></i> {% trans "Print Dymo Label" %}
                    </button>
                </li>
                <li>
                    <a class="dropdown-item" target="_blank" href="{% url "device-generate-label" device.id %}">
                        <i class="fa fa-print"></i> {% trans "Print Label" %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" target="_blank" href="{% url "device-generate-protocol" device.id "handover" %}">
                        <i class="fa fa-print"></i> {% trans "Print Handover Protocol" %}
                    </a>
                </li>
                <li>
                    <button class="dropdown-item" type="button" data-bs-target="#pictureModal" data-bs-toggle="modal">
                        <i class="fa fa-picture-o"></i> {% trans "Manage Pictures" %}
                    </button>
                </li>
                {% if can_change_device %}
                    <li>
                        <a class="dropdown-item" href="{% url "device-inventoried" device.id %}">
                            <i class="fa fa-check"></i> {% trans "Inventoried" %}
                        </a>
                    </li>
                {% endif %}
                {% if can_add_device %}
                    <li>
                        <a class="dropdown-item" href="{% url 'device-add-copy' device.id %}">
                            <i class="fa fa-copy"></i> {% trans "Create copy" %}
                        </a>
                    </li>
                {% endif %}
                {% if can_change_device or can_delete_device %}
                    <li class="dropdown-divider"></li>
                {% endif %}
                {% if can_change_device %}
                    <li>
                        <form action="{% url "device-storage" object.id %}" method="post"
                              data-confirm="{% trans "Are you sure?" %}">
                            {% csrf_token %}
                            {% if not object.department %}
                                <button class="dropdown-item disabled"><i class="fa fa-folder"></i>
                                    {% trans 'Device has no Department' %}
                                </button>
                            {% elif not object.department.storage_room %}
                                <button class="dropdown-item disabled"><i class="fa fa-folder"></i>
                                    {% trans 'Deparment has no storage room' %}
                                </button>
                            {% else %}
                                <button class="dropdown-item"><i class="fa fa-folder"></i>
                                    {% blocktrans with object.department.storage_room as room %}
                                        Move to storage (Room {{ room }})
                                    {% endblocktrans %}
                                </button>
                            {% endif %}
                        </form>
                    </li>
                    <li>
                        <form action="{% url "device-archive" object.id %}" method="post"
                              data-confirm="{% trans "Are you sure?" %}">
                            {% csrf_token %}
                            <button class="dropdown-item"><i class="fa fa-folder"></i> {% trans "Archive" %}</button>
                        </form>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button" data-bs-target="#trashModal" data-bs-toggle="modal">
                            <i class="fa fa-trash-o"></i> {% trans "Trash" %}
                        </button>
                    </li>
                {% endif %}
                {% if can_delete_device %}
                    <li class="dropdown-divider"></li>
                    <li>
                        <form action="{% url "device-delete" object.id %}" method="post"
                              data-confirm="{% trans "Are you sure?" %}">
                            {% csrf_token %}
                            <button class="dropdown-item"><i class="fa fa-times"></i> {% trans "Delete" %}</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        {% if can_change_device and device.archived != None %}
            <form action="{% url "device-archive" object.id %}" method="post" data-confirm="{% trans "Are you sure?" %}"
                  class="d-inline-block">
                {% csrf_token %}
                <button class="btn btn-primary"><i class="fa fa-folder-open"></i> {% trans "Unarchive" %}</button>
            </form>
        {% endif %}

        {% if can_change_device and device.trashed != None %}
            <form action="{% url "device-trash" object.id %}" method="post" data-confirm="{% trans "Are you sure?" %}"
                  class="d-inline-block">
                {% csrf_token %}
                <a class="btn btn-primary" target="_blank" href="{% url "device-generate-protocol" device.id "trashed" %}">
                    <i class="fa fa-print"></i> {% trans "Print Trashed Protocol" %}
                </a>
                <button class="btn btn-primary"><i class="fa fa-folder-open"></i> {% trans "Remove from trash" %}</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% has_perm 'devices.change_device' user device as can_change_device %}
    {% has_perm 'devices.add_device' user device as can_add_device %}
    {% has_perm 'devices.delete_device' user device as can_delete_device %}
    {% has_perm 'devices.lend_device' user device as can_lend_device %}
    {% has_perm 'devices.view_devicedetails' user device as can_view_devicedetails %}
    {% has_perm 'devices.view_departmentdetails' user device.department as can_view_department %}
    {% has_perm 'mail.view_deviceupdatemail' user as can_view_update_mails %}
    <div class="row">
        <div class="col-md-4">
            <h5 id="manual_details_header" data-deviceid="{{ device.pk }}">{% trans "Manual Data" %}</h5>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>{% trans "Lagerregal ID" %}</td>
                    <td>{{ device.pk }}</td>
                </tr>
                <tr>
                    <td>{% trans "Inventory Number" %}</td>
                    <td>{{ device.inventorynumber }}</td>
                </tr>
                <tr>
                    <td>{% trans "Serial Number" %}</td>
                    <td>{{ device.serialnumber }}</td>
                </tr>
                <tr>
                    <td>{% trans "Hostname" %}</td>
                    <td>{{ device.hostname }}</td>
                </tr>
                <tr>
                    <td>{% trans "Device Type" %}</td>
                    <td>
                        {% if device.devicetype %}
                            <a href="{% url 'type-detail' device.devicetype.pk %}">{{ device.devicetype }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Manufacturer" %}</td>
                    <td>
                        {% if device.manufacturer %}
                            <a href="{% url 'manufacturer-detail' device.manufacturer.pk %}">{{ device.manufacturer }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                </tr>
                <tr>
                    <td>{% trans "Room" %}</td>
                    <td>
                        {% if device.room %}
                            <a href="{% url 'room-detail' device.room.pk %}">{{ device.room }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                {% if device.used_in %}
                    <tr>
                        <td>{% trans "Used in" %}</td>
                        <td><a href="{% url "device-detail" device.used_in.pk %}">{{ device.used_in }}</a></td>
                    </tr>
                {% endif %}
                {% if usedset %}
                    <tr>
                        <td>{% trans "Uses" %}</td>
                        <td>
                            {% for element in usedset %}
                                <a href="{% url "device-detail" element.pk %}">{{ element }}</a><br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% trans "Devicegroup" %}</td>
                    <td>
                        {% if device.group %}
                            <a href="{% url 'devicegroup-detail' device.group.pk %}">{{ device.group }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Department" %}</td>
                    <td>
                        {% if device.department %}
                            {% if can_view_department %}
                                <a href="{% url 'department-detail' device.department.pk %}">{{ device.department }}</a>
                            {% else %}
                                {{ device.department }}
                            {% endif %}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Short-term device" %}</td>
                    <td>
                        {% if device.templending %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
                {% if device.manual %}
                    <tr>
                        <td>{% trans "Manual" %}</td>
                        <td>
                            <a href="{{ device.manual.url }}">
                                {% with filename=device.manual|filename|splitstr:'.'|last %}
                                    {{ device.name|add:'.'|add:filename }}
                                {% endwith %}
                            </a>
                        </td>
                    </tr>
                {% endif %}
                {% if device.contact %}
                    <tr>
                        <td>{% trans "Contact" %}</td>
                        <td><a href="{% url 'userprofile' device.contact.pk %}">{{ device.contact }}</a></td>
                    </tr>
                {% endif %}
                {% if device.creator %}
                    <tr>
                        <td>{% trans "Created by" %}</td>
                        <td><a href="{% url 'userprofile' device.creator.pk %}">{{ device.creator }}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% trans "Last edited" %}</td>
                    <td>
                        {% if lastedit != None %}
                            <a href="{% url 'history-detail' lastedit.pk %}">{{ lastedit.revision.date_created }}</a> by
                            {{ lastedit.revision.user }}
                        {% else %}
                            {% trans "Not edited yet" %}
                        {% endif %}
                    </td>
                </tr>
                {% if device.trashed %}
                    <tr>
                        <td>{% trans "Trashed on" %}</td>
                        <td>{{ device.trashed }}</td>
                    </tr>
                {% endif %}
                {% if device.inventoried %}
                    <tr>
                        <td>{% trans "Last inventoried on" %}</td>
                        <td>{{ device.inventoried }}</td>
                    </tr>
                {% endif %}
                {% for attributevalue in attributevalue_list %}
                    <tr>
                        <td>{{ attributevalue.typeattribute.name }}</td>
                        <td>{{ attributevalue }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include "devices/detail/device_lending_info.html" %}
        </div>
        <div class="col-md-5">
            {% if device.pictures.count > 0 %}
                {% include "devices/detail/device_pictures.html" %}
            {% endif %}


            {% if device.webinterface != "" %}
                <a href="{{ device.webinterface }}" target="_blank">{% trans "Go to web interface" %}</a>
            {% endif %}

            {% if device.description %}
                <h4>{% trans "Description" %}</h4>
                {{ device.description|linebreaks }}
            {% endif %}
        </div>
        <div class="col-md-3">
            {% include "devices/detail/device_tags_card.html" %}
        </div>
    </div>

    <ul class="nav nav-tabs my-3">
        {% if can_change_device %}
            <li class="nav-item"><a class="nav-link active" href="#notes" data-bs-toggle="tab">{% trans "Notes" %}</a></li>
        {% endif %}
        {% if can_lend_device %}
            <li class="nav-item"><a class="nav-link" href="#lending" data-bs-toggle="tab">{% trans "Lending history" %}</a>
            </li>
        {% endif %}
        {% if can_change_device %}
            <li class="nav-item"><a class="nav-link" href="#edit" data-bs-toggle="tab">{% trans "Edit History" %}</a></li>
        {% endif %}
        {% if can_view_update_mails %}
            <li class="nav-item"><a class="nav-link" href="#mail" data-bs-toggle="tab">{% trans "Mail history" %}</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% if can_change_device %}
            <div class="tab-pane fade show active" id="notes">
                {% include "devices/detail/device_notes_tab.html" %}
            </div>
        {% endif %}
        {% if can_change_device %}
            <div class="tab-pane fade" id="lending">
                {% include "devices/detail/device_lending_tab.html" %}
            </div>
        {% endif %}

        {% if can_change_device %}
            <div class="tab-pane fade" id="edit">
                {% include "devices/detail/device_history_tab.html" %}
            </div>
        {% endif %}

        {% if can_view_update_mails %}
            <div class="tab-pane fade" id="mail">
                {% include "devices/detail/device_mail_tab.html" %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block htmlend %}
    {% has_perm 'devices.lend_device' user device as can_lend_device %}
    {% has_perm 'devices.change_device' user device as can_change_device %}

    {% if can_lend_device %}
        {% include "snippets/modals/lending.html" with modalname="lendModal" %}
        {% if device.currentlending %}
            {% include "snippets/modals/lendingReturn.html" with modalname="returnModal" %}
        {% endif %}

        {% include "snippets/modals/devicemailModal.html" with modalname="mailModal" %}
        {% include "snippets/modals/deviceImageModal.html" with modalname="pictureModal" %}
    {% endif %}

    {% if can_change_device %}
        {% include "snippets/modals/devicetrashModal.html" with modalname="trashModal" %}
    {% endif %}

    {% include "snippets/modals/devicePrintDymoModal.html" with modalname="printDymoModal" %}

    {{ dymo_data|json_script:"dymo_data" }}

    <script src="{% static "js/device_detail.js" %} "></script>
{% endblock %}
