{% load i18n %}
<h4>{% trans "10 last sent mails" %}</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Sent by" %}</th>
        <th>{% trans "Created at" %}</th>
        <th>{% trans "Send Status" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for mail in mail_list %}
        <tr>
            <td>{{ mail.subject }}</td>
            <td><a href="{% url 'userprofile' mail.sent_by.pk %}">{{ mail.sent_by }}</a></td>
            <td><span title="{{ mail.sent_at|date:'c' }}" data-timeago
                      class="mail-date">{{ mail.created_at }}</span></td>
            <td>
                {% if mail.unsent_recipients %}
                    <i class="fa fa-pause"></i> {% trans "Held (Inventory Mode)" %}
                {% elif mail.failed_recipients %}
                    <i class="fa fa-exclamation-circle text-danger"></i> {% trans "Failed" %}
                {% else %}
                    <i class="fa fa-check-circle text-success"></i>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>