{% load i18n %}
<div id="device-carousel" class="carousel slide">
    <div class="carousel-inner">
        {% for picture in device.pictures.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ picture.image.url }}" alt="{{ picture.caption }}" class="d-block w-100">
                {% if picture.caption %}
                    <div class="carousel-caption">
                        {{ picture.caption }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if device.pictures.all|length > 1 %}
        <ol class="carousel-indicators">
            {% for picture in device.pictures.all %}
                <button type="button" data-bs-target="#device-carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></button>
            {% endfor %}
        </ol>

        <button type="button" class="carousel-control-prev" data-bs-target="#device-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Previous' %}</span>
        </button>
        <button type="button" class="carousel-control-next" data-bs-target="#device-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans 'Next' %}</span>
        </button>
    {% endif %}
</div>