{% load i18n %}
<div class="card mb-3">
    <div class="card-header text-bg-dark">{% trans "Tags" %}</div>
    <ul class="list-group">
        {% for tag in device.tags.all %}
            <li class="list-group-item tag-list">
                {{ tag.name }}
                <a href="{% url 'device-tag-remove' device.pk tag.pk %}" class="pull-right text-secondary">
                    <i class="fa fa-times"></i>
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="card-footer">
        <form method="post" action="{% url 'device-tags' device.pk %}">
            {% csrf_token %}
            <div class="mb-3">{{ tagform.tags }}</div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary" id="submittags">
                    <i class="fa fa-plus"></i> {% trans "Assign Tags" %}
                </button>
            </div>
        </form>
    </div>
</div>
