{% load i18n %}
<h4>{% trans "Current Lending information" %}</h4>
{% if device.currentlending != None %}
    <table class="table table-bordered table-striped">
        <tr>
            <td>{% trans "Lent to" %}</td>
            <td>
                <a href="{% url "userprofile" device.currentlending.owner.pk %} ">{{ device.currentlending.owner }}</a>
            </td>
        </tr>
        <tr>
            <td>{% trans "Since" %}</td>
            <td>{{ device.currentlending.lenddate }}</td>
        </tr>
        <tr>
            <td>{% trans "Due" %}</td>
            <td>
                {{ device.currentlending.duedate }}
                {% if device.currentlending.duedate < weekago %}
                    <i class="fa fa-exclamation-circle text-danger"></i>
                {% elif device.currentlending.duedate < today %}
                    <i class="fa fa-exclamation-circle text-warning"></i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Overdue notification" %}</td>
            <td>{{ device.currentlending.duedate_email|default_if_none:_("Not sent") }}</td>
        </tr>
    </table>
{% else %}
    <p>{% trans "Currently not lent" %}</p>
{% endif %}