{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block header %}{{ actionstring }} {{ object|default:_("Object") }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well well-lg">
            <form action="" method="post" id="forms">{% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == "extra_fieldcount" %}
                        {{ field }}
                    {% else %}
                        <div class="mb-3 row {{ field.css_classes }}">
                            <label for="{{ field.id_for_label }}" class="col-lg-4 control-label">
                                {{ field.label }}{% if field.field.required %}*{% endif %}
                            </label>

                            <div class="col-lg-8">
                                {{ field|add_class:'form-control' }}
                                <p class="text-danger">{% for error in field.errors %}{{ error }}, {% endfor %}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="text-end">
                    <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
