{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Merge {{ oldobject.name }} into {{ newobject.name }}{% endblocktrans %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert-info alert">
                {% get_verbose_name oldobject as verbose_name %}
                {% blocktrans %}Do you really want to merge the {{ verbose_name }}: {{ oldobject }} into {{ newobject }}?{% endblocktrans %}
            </div>
            <form action="" method="post">
                <input type="checkbox" id="remove_attributes" name="remove_attributes">
                <label for="remove_attributes">{% trans "Remove old Attributes and store them in device description" %}</label><br>
                {% csrf_token %}
                <a href="{{ oldobject.get_absolute_url }}" class="btn btn-secondary">{% trans "No" %}</a>
                <input type="submit" value="Yes" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}