{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock %}

{% block header %}
    {% trans "Device Type" %}: {{ object.name }}
{% endblock %}

{% block pullright %}
    {% if perms.devicetypes.change_type %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-share"></i> {% trans "Merge" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a class="dropdown-item" href="{% url 'type-merge' object.pk merge.pk %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% editbutton "type-edit" object.id %}
    {% endif %}
    {% if perms.devicetypes.delete_type %}
        {% deletebutton "type-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>{% trans "Extra Attributes" %}</h4>
            <table class="table table-bordered table-striped">
                <tbody>
                {% for attribute in attribute_list %}
                    <tr>
                        <td class="w-100 align-middle">
                        {{ attribute.name }}
                        </td>
                        {% if perms.devicetypes.change_type %}
                            <td>
                            {% editbutton "typeattribute-edit" attribute.pk simple=True %}
                            </td>
                            <td>
                            {% deletebutton "typeattribute-delete" attribute.pk simple=True %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if perms.devicetypes.change_type %}
                <a href="{% url "typeattribute-add" %}?devicetype={{ object.pk }}" class="btn btn-secondary mb-3">
                    <i class="fa fa-plus"></i> {% trans "Add new Attribute" %}
                </a>
            {% endif %}
        </div>
        <div class="col-md-8">
            {% if perms.devices.view_device %}
                {% if device_list %}
                    <h4>{% trans "Devices" %}</h4>
                    <table id="devicetable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Inventory Number" %}</th>
                                <th>{% trans "Device Type" %}</th>
                                <th>{% trans "Room" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in device_list %}
                                <tr>
                                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                                    <td>{{ device.inventorynumber }}</td>
                                    <td>{{ device.devicetype }}</td>
                                    <td>{{ device.room }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if perms.devicetypes.change_type %}
    {% endif %}
{% endblock %}
