{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Device Types" %}{% endblock %}

{% block header %}
    {% trans "Device Types" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicetypes.add_type %}
        <a href="{% url 'type-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Device Type" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for type in type_list %}
                <tr>
                    <td><a href="{% url 'type-detail' type.id %}">{{ type.name|default:_("(None)") }}</a></tr>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
