{% load i18n %}

<div class="card widget mb-3" id="{% block widgetname %}{% endblock %}">
    <div class="card-header text-bg-{% block card-bg %}dark{% endblock %}">
        <h3 class="card-title h5 mb-0">
            <span class="widget-title">{% block title %}{% endblock %}</span>
            <div class="pull-right">
                <a><i class="fa fa-{{ widget.minimized|yesno:'plus,minus' }} w-minimize"></i></a>
                <a><i class="fa fa-times w-close"></i></a>
            </div>
        </h3>
    </div>
    {% block content %}{% endblock %}
</div>
