{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Bookmarked devices' %}
{% endblock %}

{% block widgetname %}bookmarks{% endblock %}

{% block content %}
    <table class="table" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in bookmarks %}
                <tr>
                    <td><a href="{% url 'device-detail' device.pk %}">{{ device.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="card-footer text-end">
        <a href="{% url 'device-list' %}?category=bookmark&sorting=name">{% trans "More…" %}</a>
    </div>
{% endblock %}
