{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Edit history' %}
{% endblock %}

{% block widgetname %}edithistory{% endblock %}

{% block content %}
    <table class="table" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Device' %}</th>
                <th scope="col">{% trans 'Date/time' %}</th>
                <th scope="col">{% trans 'User' %}</th>
                <th scope="col" class="commentcol">{% trans 'Comment' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revisions %}
                <tr>
                    <td>
                        {% if revision.version_set.count == 1 %}
                            {% with version=revision.version_set.all.0 %}
                                {{ version.content_type }}:
                                <a href="{%  url "history-detail" version.pk %}">
                                    {% if version.content_type.model == "lending" %}
                                        {{ version.object.device|default:version.object.smalldevice }}
                                    {% else %}
                                        {{ version.field_dict.name }}
                                    {% endif %}
                                </a>
                            {% endwith %}
                        {% else %}
                            <div class="dropdown">
                                <a data-bs-toggle="dropdown" href="#">{{ revision.version_set.count }} Changes made</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    {% for version in revision.version_set.all %}
                                        <li>{{ version.content_type }}:
                                            <a class="dropdown-item" href="{%  url "history-detail" version.pk %}">
                                                {% if version.content_type.model == "lending" %}
                                                    {{ version.object.device|default:version.object.smalldevice }}
                                                {% else %}
                                                    {{ version.field_dict.name }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <span title="{{ revision.date_created|date:'c' }}" data-timeago class="edit-date">{{ revision.date_created }}</span>
                    </td>
                    <td><a href="{% url 'userprofile' revision.user.pk %}">{{ revision.user }}</a></td>
                    <td class="commentcol">{{ revision.comment|linebreaksbr|default:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="card-footer text-end">
        <a href="{% url 'globalhistory' %}">{% trans "More…" %}</a>
    </div>
{% endblock %}
