{% load devicetags %}

<div class="btn-group d-inline-block">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
        {{ field|choicefield_value }}
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for value, label in field.field.choices %}
            <li><a class="dropdown-item" href="{% current_url field.name value page=None %}">{{ label }}</a></li>
        {% endfor %}
    </ul>
</div>
