{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Newest Devices' %}
{% endblock %}

{% block widgetname %}newestdevices{% endblock %}

{% block content %}
    <table class="table" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Creation date' %}</th>
                <th scope="col">{% trans 'Creator' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in newest_devices %}
                <tr>
                    <td><a href="{% url 'device-detail' device.pk %}">{{ device.name }}</a></td>
                    <td>{{ device.created_at|date:"d.m.y  H:i" }}</td>
                    <td><a href="{% url 'userprofile' device.creator.pk %}">{{ device.creator }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card-footer text-end">
        <a href="{% url 'device-list' %}?category=active&sorting=-created_at">{% trans "More…" %}</a>
    </div>
{% endblock %}
