{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Overdue Devices' %}
{% endblock %}

{% block widgetname %}overdue{% endblock %}

{% block card-bg %}{{ overdue|yesno:'danger,dark' }}{% endblock %}

{% block content %}
    <table class="table" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Due date' %}</th>
                <th scope="col">{% trans 'Lent to' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for lending in overdue %}
                <tr>
                    <td>
                        {% if lending.device %}
                            <a href="{% url 'device-detail' lending.device.pk %}" class="text-danger">{{ lending.device.name }}</a>
                        {% else %}
                            {% if lending.owner.id %}
                                <a href="{% url "userprofile" lending.owner.id %}#devices">{{ lending.smalldevice }}</a>
                            {% else %}
                                {{ lending.smalldevice }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ lending.duedate }}</td>
                    <td><a href="{% url 'userprofile' lending.owner.pk %}">{{ lending.owner }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card-footer text-end">
        <a href="{% url 'device-list' %}?category=overdue&sorting=name">{% trans "More…" %}</a>
    </div>
{% endblock %}
