{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Recent Lendings' %}
{% endblock %}

{% block widgetname %}recentlendings{% endblock %}

{% block content %}
    <table class="table table-bordered" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Lent on' %}</th>
                <th scope="col">{% trans 'Due date' %}</th>
                <th scope="col">{% trans 'Lent to' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for lending in recentlendings %}
                <tr>
                    <td>
                        {% if lending.device %}
                            <a href="{% url 'device-detail' lending.device.pk %}">{{ lending.device.name }}</a>
                        {% else %}
                            {{ lending.smalldevice }}
                        {% endif %}
                    </td>
                    <td>{{ lending.lenddate }}</td>
                    <td>{{ lending.duedate }}</td>
                    <td><a href="{% url 'userprofile' lending.owner.pk %}">{{ lending.owner }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}