{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Devices for short-term Lending' %}
{% endblock %}

{% block widgetname %}shorttermdevices{% endblock %}

{% block content %}
    <table class="table" {% if widget.minimized %}hidden{% endif %}>
        <thead>
            <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Availability' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for device in shorttermdevices %}
                <tr>
                    <td><a href="{% url 'device-detail' device.pk %}">{{ device.name }}</a></td>
                    <td>
                        {% if device.currentlending == None %}
                            <i class="fa fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fa fa-exclamation-circle text-danger"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card-footer text-end">
        <a href="{% url 'device-list' %}?category=temporary&sorting=name">{% trans "More…" %}</a>
    </div>
{% endblock %}
