{% extends "snippets/widgets/basewidget.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Statistics' %}
{% endblock %}

{% block widgetname %}statistics{% endblock %}

{% block content %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <span>{% trans "Available" %}</span>
                <span class="pull-right">{% trans "Overall" %}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                {% trans "Devices" %}
            </div>
            <div class="col-md-9">
                <meter class="w-100" max="100" value="{{ device_percent }}"></meter>
                <span>{{ device_available }}</span>
                <span class="pull-right">{{ device_all }}</span>
            </div>
        </div>
    </div>
{% endblock %}
