{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Global edit history" %}{% endblock %}

{% block header %}
    {% trans "Global edit history" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table id="change-history" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans 'Changed Objects' %}</th>
                <th scope="col">{% trans 'Date/time' %}</th>
                <th scope="col">{% trans 'User' %}</th>
                <th scope="col">{% trans 'Comment' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revision_list %}
                <tr>
                    <td>
                        {% if revision.version_set.count == 1 %}
                            {% with version=revision.version_set.all.0 %}
                                {{ version.content_type }}:
                                <a href="{%  url "history-detail" version.pk %}">
                                    {% if version.content_type.model == "lending" %}
                                        {{ version.object.device|default:version.object.smalldevice }}
                                    {% else %}
                                        {{ version.field_dict.name }}
                                    {% endif %}
                                </a>
                            {% endwith %}
                        {% else %}
                            <div class="dropdown">
                                <a data-bs-toggle="dropdown" href="#">{{ revision.version_set.count }} Changes made</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    {% for version in revision.version_set.all %}
                                        <li>
                                            {{ version.content_type }}:
                                            <a class="dropdown-item" href="{%  url "history-detail" version.pk %}">
                                                {% if version.content_type.model == "lending" %}
                                                    {{ version.object.device|default:version.object.smalldevice }}
                                                {% else %}
                                                    {{ version.field_dict.name }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                    <td><span title="{{ revision.date_created|date:'c' }}" data-timeago class="edit-date">{{ action.revision.date_created }}</span></td>
                    <td><a href="{% url 'userprofile' revision.user.pk %}">{{ revision.user }}</a></td>
                    <td>{{ revision.comment|linebreaksbr|default:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "snippets/pagination.html" %}
{% endblock %}
