{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Buildings" %}{% endblock %}

{% block header %}
    {% trans "Buildings" %}
{% endblock %}

{% block pullright %}
    {% if perms.devices.add_building %}
        <a href="{% url 'building-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Building" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for building in building_list %}
                <tr>
                    <td>
                        <a href="{% url 'building-detail' building.id %}">{{ building.name|default:_("(None)") }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
