{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}
{% block title %}{{ building.name }}{% endblock %}

{% block header %}
    {% trans "Building" %}: {{ building.name }}
{% endblock %}

{% block pullright %}
    {% if perms.devices.change_building %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-share"></i> {% trans "Merge" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a class="dropdown-item" href="{% url 'building-merge' building.pk merge.pk %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% editbutton "building-edit" object.id %}
    {% endif %}
    {% if perms.devices.delete_building %}
        {% deletebutton "building-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>{% trans "Street" %}</td>
                    <td>{{ building.street }} {{ building.number }}</td>
                </tr>
                <tr>
                    <td>{% trans "ZIP Code" %}</td>
                    <td>{{ building.zipcode }}</td>
                </tr>
                <tr>
                    <td>{% trans "City" %}</td>
                    <td>{{ building.city }}</td>
                </tr>
                <tr>
                    <td>{% trans "State" %}</td>
                    <td>{{ building.state }}</td>
                </tr>
                <tr>
                    <td>{% trans "Country" %}</td>
                    <td>{{ building.country }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            {% if device_list %}
                <h4>{% trans "Devices" %}</h4>
                <table id="devicetable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Inventory Number" %}</th>
                            <th>{% trans "Device Type" %}</th>
                            <th>{% trans "Room" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in device_list %}
                            <tr>
                                <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                                <td>{{ device.inventorynumber }}</td>
                                <td>{{ device.devicetype__name }}</td>
                                <td>{{ device.room__name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
