{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ room.name }}{% endblock %}

{% block header %}
    {% trans "Room" %}: {{ room.name }}
{% endblock %}

{% block pullright %}
    {% if perms.devices.change_room %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-share"></i> {% trans "Merge" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a class="dropdown-item" href="{% url 'room-merge' room.pk merge.id %}">{{ merge.name }} ({{ merge.building__name }})</a></li>
                {% endfor %}
            </ul>
        </div>
        {% editbutton "room-edit" object.id %}
    {% endif %}
    {% if perms.devices.delete_room %}
        {% deletebutton "room-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>{% trans "Building" %}</dt>
                <dd>
                    {% if room.building %}
                        <a href="{% url 'building-detail' room.building.id %}">{{ room.building }}</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="col-md-7">
            {% if perms.devices.view_device %}
                <h4>{% trans "Device" %}</h4>
                {% if device_list %}
                    <table id="devicetable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Inventory Number" %}</th>
                                <th>{% trans "Device Type" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in device_list %}
                                <tr>
                                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                                    <td>{{ device.inventorynumber }}</td>
                                    <td>{{ device.devicetype__name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
