{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Rooms" %}{% endblock %}

{% block header %}
    {% trans "Rooms" %}
{% endblock %}

{% block pullright %}
    {% if perms.devices.add_room %}<a href="{% url 'room-add' %}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {% trans "Add Room" %}</a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table id="roomtable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Building" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for room in room_list %}
                <tr>
                    <td><a href="{% url 'room-detail' room.id %}">{{ room.name|default:_("(None)") }}</a></td>
                    <td>{{ room.building }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
