{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sections" %}{% endblock %}

{% block header %}
    {% trans "Sections" %}
{% endblock %}

{% block pullright %}
    {% if perms.devicetags.add_devicetag %}
        <a href="{% url 'section-add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> {% trans "Add Section" %}
        </a>
    {% endif %}
    {% include "snippets/widgets/filter_dropdown.html" with field=viewform.sorting %}
    {% include "snippets/filterform.html" %}
{% endblock %}

{% block content %}
    {% include "snippets/pagination.html" %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        {% for section in section_list %}
            <tr>
                <td><a href="{% url 'section-detail' section.id %}">{{ section.name|default:_("(None)") }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% include "snippets/pagination.html" %}
{% endblock %}
