{% extends "base.html" %}
{% load devicetags %}
{% load i18n %}

{% block title %}{{ section.name }}{% endblock %}

{% block header %}
    {% trans "Room" %}: {{ section.name }}
{% endblock %}

{% block pullright %}
    {% if perms.locations.change_section %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-share"></i> {% trans "Merge" %}
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for merge in merge_list %}
                    <li><a class="dropdown-item" href="{% url 'section-merge' section.pk merge.id %}">{{ merge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% editbutton "section-edit" object.id %}
    {% endif %}
    {% if perms.locations.delete_section %}
        {% deletebutton "section-delete" object.id %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <h4>{% trans "Rooms" %}</h4>
            <table id="roomtable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Building" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in section.rooms.all %}
                        <tr>
                            <td><a href="{% url 'room-detail' room.id %}">{{ room.name }}</a></td>
                            <td>{{ room.building }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            {% if perms.devices.view_device %}
                <h4>{% trans "Devices" %}</h4>
                {% if device_list %}
                    <table id="devicetable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Inventory Number" %}</th>
                                <th>{% trans "Device Type" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in device_list %}
                                <tr>
                                    <td><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a></td>
                                    <td>{{ device.inventorynumber }}</td>
                                    <td>{{ device.devicetype__name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
